main {
  background-color: $color-secondary;
  .section {
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    .card {
      width: calc(100% / 6 - 20px);
      margin: 0 10px;
      .cover {
      }
      .title {
        a {
          text-align: center;
          color: $color-white;
          font-size: 20px;
        }
      }
    }
  }
}
