// colori
$color-white: #ffffff;
$color-primary: #409ad3;
$color-secondary: #505050;
$color-lightergrey: #eae8e6;


// font
$font_p: 'Lato', sans-serif;
$font_title: 'Abril Fatface', cursive;
$font_button: 'Lato', sans-serif;
